NUXT_RETELL_AGENT_ID=aagent_bb26cc0d00b0fe5c0ac6ea166f
NUXT_RETELL_START_CALL_WEBHOOK_URL=https://n8n.srv1127913.hstgr.cloud/webhook/start-web-call
NUXT_RETELL_START_CALL_WEBHOOK_TOKEN=key_72517ee54e6c9542ee4152be718b
NUXT_STRIPE_SECRET_KEY=sk_test_replace_me
NUXT_STRIPE_WEBHOOK_SECRET=whsec_replace_me
NUXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_replace_me
NUXT_N8N_FULFILLMENT_WEBHOOK_URL=https://your-n8n-instance/webhook/stripe-fulfillment
NUXT_N8N_FULFILLMENT_WEBHOOK_TOKEN=replace_me_optional
NUXT_N8N_ASK_DON_WEBHOOK_URL=https://n8n.srv1127913.hstgr.cloud/webhook/ask-don
NUXT_VIDEO_TO_TEXT_WEBHOOK_URL=https://n8n.srv1127913.hstgr.cloud/webhook/video-to-text
NUXT_VIDEO_TO_TEXT_API_KEY=vtt_33872321dd87e4bd6275578fe674bf9102f7d4c96d4a62ee8ddbc54fc1368561
NUXT_VIDEO_TO_TEXT_CALLBACK_URL=https://unportioned-mechelle-nonodorously.ngrok-free.dev/api/transcription-done
NUXT_PUBLIC_SITE_URL=https://your-public-site-url.com
