@theme {
  --font-sans: "Geist", Arial, ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Geist Mono", ui-monospace, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@layer base {
  body {
    @apply font-sans antialiased;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }
}
